<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello world</h1>
    <p><%=greet%></p>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.emit("chat","how are you?");
        socket.on("chat",(msg)=>{
            console.log("I am good",msg);
        })
    </script>
    
</body>
</html>